In [22]:
import pandas as pd
import zipfile

In [7]:
from bs4 import UnicodeDammit
with open('SYB66_314_202310_Internet Usage.csv', 'rb') as file:
   content = file.read()

suggestion = UnicodeDammit(content)
suggestion.original_encoding

'windows-1252'

In [23]:
data = pd.read_csv("SYB66_314_202310_Internet Usage.csv", sep = ",", encoding='windows-1252')
pivot = data.pivot(index="Unnamed: 1", columns="Year", values="Value")

pivot.head()

Year         2000  2005  2010  2015  2019  2020  2021
Unnamed: 1
Afghanistan   NaN   1.2   4.0   8.3  17.6  18.4   NaN
Albania       0.1   6.0  45.0  56.9  68.6  72.2  79.3
Algeria       0.5   5.8  12.5  38.2  59.0  64.0  70.8
Andorra      10.5  37.6  81.0  87.9  90.7  93.2  93.9
Angola        0.1   1.1   2.8  22.0  32.1  32.6  32.6

In [24]:
zf = zipfile.ZipFile('GEDEvent_v23_1.csv.zip') 
df = pd.read_csv(zf.open('GEDEvent_v23_1.csv'))

/var/folders/tw/r1c27wl954ndkln2l33_tcyc0000gn/T/ipykernel_3869/3301354906.py:2: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(zf.open('GEDEvent_v23_1.csv'))

In [28]:
select_columns = ['id', 'year', 'type_of_violence', 'conflict_name', 'dyad_name', 'side_a', 'side_b',
                  'where_coordinates', 'where_description', 'adm_1', 'adm_2', 'latitude', 'longitude', 'geom_wkt', 'country', 'region',
                  'date_start', 'date_end', 'deaths_a', 'deaths_b', 'deaths_civilians', 'best']

df_conflict = df[select_columns]
df_conflict.head()
pivot2 = pd.pivot_table(df_conflict, values="best", index="country", columns="year", aggfunc="sum", fill_value=0)
pivot2.head()

year,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,5411,1514,3553,4385,4105,9056,5618,3595,6721,12174,...,8131,12549,17992,18719,19776,26889,30435,20834,36386,1545
Albania,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Algeria,0,1,34,274,826,1943,3059,1091,2008,3284,...,222,111,110,89,77,35,15,28,18,14
Angola,2873,2609,516,2352,12398,4009,238,32,105,1191,...,2,0,1,26,26,24,26,29,13,20
Argentina,0,0,0,0,0,86,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0